<div class="container 100-wh">
    <div class="row justify-content-evenly mt-3 align-items-center gx-4 gy-3 ">
        <div class="col-3">
            <div class="row justify-content-center align-items-center text-center p-3 bg-info text-light rounded-1">
                <div class="col-10">
                    <p class=" text-light fs-4">Pilas totales</p>
                </div>
                <div class="col-10">
                    <p class=" text-light fs-1">{{pilas[0]}}</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="row justify-content-center align-items-center text-center bg-success p-3 rounded-1">
                <div class="col-10">
                    <p class=" text-light fs-4">Pilas Reutilizables</p>
                </div>
                <div class="col-10">
                    <p class=" text-light fs-1">{{pilas[1]}}</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="row justify-content-center align-items-center text-center bg-danger p-3 rounded-1">
                <div class="col-10">
                    <p class=" text-light fs-4">Pilas NO reutilizables</p>
                </div>
                <div class="col-10">
                    <p class=" text-light fs-1">{{pilas[2]}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center align-items-center text-center pt-1 pb-1 mt-3 mb-4 gx-2 rounded-1 bg-light">
        <div class="col-2" *ngFor="let id of tabs; let i = index">  
            <button class="btn btn-info p-2 mt-2 mb-2" (click)="change_data(i)"> {{id}}</button>
        </div>
    </div>

    <div class="row justify-content-center align-items-center p-2 gx-5 gy-3">
      <div class="col-4">
        <app-multi-chart-card [data]="datasets" [id]="actual_tab + '0'" [background]="'#5b5b5b'" [titulo]="name"></app-multi-chart-card>
      </div>

      <div class="col-4">
        <app-multi-chart-card [data]="datasets" [id]="actual_tab + '1'" [background]="'#5b5b5b'" [titulo]="name"></app-multi-chart-card>
      </div>

      <div class="col-4">
        <app-multi-chart-card [data]="datasets" [id]="actual_tab + '2'" [background]="'#5b5b5b'" [titulo]="name"></app-multi-chart-card>
      </div>

      <div class="col-4">
        <app-multi-chart-card [data]="datasets" [id]="actual_tab + '3'" [background]="'#5b5b5b'" [titulo]="name"></app-multi-chart-card>
      </div>

      <div class="col-4">
        <app-multi-chart-card [data]="datasets" [id]="actual_tab + '4'" [background]="'#5b5b5b'" [titulo]="name"></app-multi-chart-card>
      </div>

      <div class="col-4">
        <app-multi-chart-card [data]="datasets" [id]="actual_tab + '5'" [background]="'#5b5b5b'" [titulo]="name"></app-multi-chart-card>
      </div>
    </div>


</div>
