<div class="container 100-wh">
    <div class="row justify-content-evenly mt-3 align-items-center gx-4 gy-3 ">
        <div class="col-3">
            <div class="row justify-content-center align-items-center text-center p-3 bg-info text-light">
                <div class="col-10">
                    <p class=" text-light fs-4">Pilas totales</p>
                </div>
                <div class="col-10">
                    <p class=" text-light fs-2">{{pilas[0]}}</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="row justify-content-center align-items-center text-center bg-success p-3">
                <div class="col-10">
                    <p class=" text-light fs-4">Pilas Reutilizables</p>
                </div>
                <div class="col-10">
                    <p class=" text-light fs-2">{{pilas[1]}}</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="row justify-content-center align-items-center text-center bg-danger p-3">
                <div class="col-10">
                    <p class=" text-light fs-4">Pilas NO reutilizables</p>
                </div>
                <div class="col-10">
                    <p class=" text-light fs-2">{{pilas[2]}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center p-3 mt-3">
        <div class="col-12">
            <igx-tabs>
                <igx-tab-item>
                  <igx-tab-header>
                    <span igxTabHeaderLabel>Tab 1</span>
                  </igx-tab-header>
                  <igx-tab-content>
                    This is Tab 1 content.
                  </igx-tab-content>
                </igx-tab-item>
                <igx-tab-item>
                  <igx-tab-header>
                    <span igxTabHeaderLabel>Tab 2</span>
                  </igx-tab-header>
                  <igx-tab-content>
                    This is Tab 2 content.
                  </igx-tab-content>
                </igx-tab-item>
                <igx-tab-item>
                  <igx-tab-header>
                    <span igxTabHeaderLabel>Tab 3</span>
                  </igx-tab-header>
                  <igx-tab-content>
                    This is Tab 3 content.
                  </igx-tab-content>
                </igx-tab-item>
                <igx-tab-item>
                  <igx-tab-header>
                    <span igxTabHeaderLabel>Tab 4</span>
                  </igx-tab-header>
                  <igx-tab-content>
                    This is Tab 4 content.
                  </igx-tab-content>
                </igx-tab-item>
                <igx-tab-item>
                  <igx-tab-header>
                    <span igxTabHeaderLabel>Tab 5</span>
                  </igx-tab-header>
                  <igx-tab-content>
                    This is Tab 5 content.
                  </igx-tab-content>
                </igx-tab-item>
              </igx-tabs>
              
        </div>
    </div>


</div>
